# Portas expostas para a máquina local
HOST_API_PORT=8080
HOST_REDIS_PORT=6379
HOST_CASSANDRA_PORT=9042

# Configurações de Conexão Interna (nome dos containers)
REDIS_HOST=redis
REDIS_PORT=6379

CASSANDRA_HOST=cassandra
CASSANDRA_PORT=9042
CASSANDRA_CLUSTER_NAME=UrlShortenerCluster
CASSANDRA_KEYSPACE=url_shortener_ks
CASSANDRA_DATACENTER=datacenter1